[% WRAPPER 'include/layout_admin.tt' %]

<h2>ユーザーを削除</h2>

<div>
    [% user.name %]を削除します。<br />
</div>

<div>
    <form method="POST" action="/admin/user/delete">
        <input type="hidden" name="user_id" value="[% user.id %]" />
        <input type="submit" value="submit" />
    </form>
</div>

[% END %]
