[% WRAPPER 'include/layout.tt' %]

<h2>Wikiを編集</h2>

<div>
    <form method="POST" action="/wiki/edit">
        <input type="hidden" name="wiki_id" value="[% wiki.id %]" />
        <input type="text" name="title" /><br />
        <textarea name="body" rows="20" cols="70"></textarea><br />
        <input type="submit" value="submit" />
    </form>
</div>

[% END %]
