[% WRAPPER 'include/layout.tt' %]

<div>
    <h1>[[% wiki.title %]]</h1>
    <div>[% wiki.updated_at %]</div>
</div>

<hr />

<div>
[% IF wiki.body %]
    [% text_markdown(wiki.body) | raw %]
[% END %]
</div>

<div>
    <a href="/wiki/edit?wiki_id=[% wiki.id %]">編集</a>
    <a href="/wiki/history?wiki_id=[% wiki.id %]">履歴</a>
</div>

[% END %]
