<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Mutuki' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"]]>
    <meta name="format-detection" content="telephone=no" />
        <script src="[% uri_for('/static/js/jquery-1.7.1.min.js') %]"></script>
        <script src="[% uri_for('/static/js/prettify/prettify.js') %]"></script>
    <link href="[% uri_for('/static/js/prettify/prettify.css') %]" rel="stylesheet" type="text/css" />
    <link href="https://raw.github.com/clownfart/Markdown-CSS/master/markdown.css" rel="stylesheet"></link>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
    $(function(){ 
        $('pre').css({
            'overflow-x': 'scroll',
            'background-color': '#f6f6f6',
            'border': '1px dotted #ccc',
            'padding': '0.8em'
        });
        $('pre code').addClass('prettyprint');
        prettyPrint();
    });
    </script>
</head>
<body[% IF bodyID %] id="[% bodyID %]"[% END %] onload="prettyPrint();">
    <h1><a href="/admin/">Mutuki Wiki管理画面</a></h1>
    <div>
        [<a href="/">TOP</a>]
        [<a href="/admin/user/group/">ユーザーグループ一覧</a>]
        [<a href="/admin/user/">ユーザー一覧</a>]
    </div>
    <div class="container">
        <div id="main">
            [% content %]
        </div>
    </div>
</body>
</html>
