[% WRAPPER 'include/layout.tt' %]

<div>
    <form method="POST" action="/group/add">
        グループを追加:
        <input type="text" name="title" />
        <input type="submit" value="submit" />
    </form>
</div>

[% IF wiki_groups && wiki_groups.size() > 0 %]
    <ul>
    [% FOR wiki_group IN wiki_groups %]
        <li><a href="/group/show?id=[% wiki_group.id %]">[% wiki_group.title %]</a></li>
    [% END %]
    </ul>
[% END %]

[% END %]
