[% WRAPPER 'include/layout.tt' %]

<h2>WikiGroupを編集</h2>

<div>
    <form method="POST" action="/group/edit">
        <input type="hidden" name="wiki_group_id" value="[% wiki_group.id %]" />
        <input type="text" name="title" /><br />
        <textarea name="body" rows="20" cols="70"></textarea><br />
        <input type="submit" value="submit" />
    </form>
</div>

[% END %]
